@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #233661;
  --main-color: #233661;
  --secondary-color: rgba(255, 110, 49, 0.83);
  --slate-color: #1e293b;
  --green-color: #4ade80;
  --border-color: #e5e7eb;
}

[data-theme="dark"] {
  --background: #0f172a;
  --foreground: #e5e7eb;
  --main-color: #fff;
  --secondary-color: rgba(255, 140, 90, 0.9);
  --slate-color: #cbd5f5;
  --green-color: #4ade80;
  --border-color: #1e293b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-main: var(--main-color);
  --color-secondary: var(--secondary-color);
  --color-slate: var(--slate-color);
  --color-green: var(--green-color);
  --color-border: var(--border-color);
  --font-cairo: var(--font-cairo);
  --font-suisseIntl: var(--font-suisseIntl);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-suisseIntl), var(--font-cairo), sans-serif;
}

.bg-waterfall {
  width: 100px;
  background-image: url("/images/pattern-navy.svg");
  background-repeat: repeat-y;
  background-size: 90px auto;
  background-position: 0 1000%;
  animation: waterfall 12s linear infinite;
}
.bg-waterfall-horz {
  height: 100px;
  background-image: url("/images/pattern-navy-horz.svg");
  background-repeat: repeat-x;
  background-size: auto 90px;
  background-position: 1000% 0;
  animation: waterfall-horz 30s linear infinite;
}

@keyframes waterfall {
  from {
    background-position: 0 1000%;
  }
  to {
    background-position: 0 -1000%;
  }
}

@keyframes waterfall-horz {
  from {
    background-position: 1000% 0;
  }
  to {
    background-position: -1000% 0;
  }
}
